<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="htp:///com/sky/dis/om/rpr.ecore/1.0"
            class="com.sky.dis.om.rpr.RprPackage"
            genModel="model/rpr.genmodel"/>
   </extension>

</plugin>
